@model ClubProject.ViewModels.ClubViewModel

@{
    ViewBag.Title = "ویرایش باشگاه " + Model.Name;
    Layout = "_Layout";
}

<div class="row">
    @if (ViewBag.EditSucceed != null && ViewBag.EditSucceed == "yes")
    {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>تبریک</strong> باشگاه شما با موفقیت ویرایش شد.
        </div>

    }
    @if (ViewBag.EditSucceed != null && ViewBag.EditSucceed == "no")
    {
        <div class="alert alert-danger fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>متاسفیم!</strong> ویرایش باشگاه شما با خطا مواجه شد
        </div>

    }
    <div class="col-md-8 col-md-offset-2">
        <h2>ویرایش باشگاه @Model.Name</h2>
        <form Method="post" enctype="multipart/form-data" asp-controller="Clubs" asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">نام باشگاه:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">شماره تلفن باشگاه:</label>
                <input type="tel" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address">آدرس باشگاه:</label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">درباره باشگاه:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>عکس کاور باشگاه:</label>
                <input style="display: inline" id="coverPicture" type="file" name="coverPicture" class="form-control" accept=".jpg" />
                <img class="img-thumbnail" width="150" height="150" alt="@Model.Name" src="~/pictures/@Model.Pictures.Single(p=>p.IsCoverPicture).PictureName"/>
            </div>
            
            <div class="form-group" style="margin-top: 40px;">
                <h3>عکس های ثبت شده باشگاه:</h3>
                <div class="row" style="margin-top: 20px">
                    <strong class="col-md-offset-5 col-md-2 col-xs-3">فعال/غیر فعال</strong>
                    <strong class="col-md-2 col-xs-3">اولویت</strong>
                    <strong class="col-md-3 col-xs-6">عکس</strong>
                </div>
                <hr />
                <div id="oldPicturesList">
                    @if (Model.Pictures.All(p => p.IsCoverPicture))
                    {
                        <div class="alert alert-warning fade in text-center">
                            <strong>هیچ عکسی برای نمایش وجود ندارد.</strong>
                        </div>
                    }
                    @foreach (var picture in Model.Pictures.Where(p => p.IsCoverPicture == false).ToList())
                    {
                        <div class="row" style="margin-bottom: 20px;">
                            <a class="removeBtn btn btn-danger col-md-offset-4 col-md-1 col-xs-2">&times;</a>
                            <input class="col-md-2 col-xs-2" type="checkbox" id="@{@picture.PictureName}IsActive" name="@{@picture.PictureName}IsActive" @if (picture.IsActive)
                                                                                                                                                         {<text>checked</text>}/>

                                                                                                                          <input class="col-md-2 col-xs-3" type="number" id="@{@picture.PictureName}Order" value="@picture.Order" name="@{@picture.PictureName}Order" data-val="true" min="1" step="1"/>
                                                                                                                                                                                                                                          <img class="img-responsive col-md-3 col-xs-5" src="~/pictures/@picture.PictureName"/>                                                                                                                                                                                                                     </div>
                    }
                                                                                                                                                                                                                                          </div>
            </div>

            <div class="form-group" style="margin-top: 80px;">
                <h3>عکس های گالری باشگاه:</h3>
                <input style="display: none" id="galleryPictures" type="file" name="galleryPictures" class="form-control" accept=".jpg" multiple />
                <a class="btn btn-info col-md-offset-4 col-md-4 col-xs-12" onclick="openBrowseDialog()">انتخاب عکس</a>
                <div id="pictureListHeader" class="row" style="margin-top: 70px">
                    <strong class="col-md-offset-5 col-md-2 col-xs-3">فعال/غیر فعال</strong>
                    <strong class="col-md-2 col-xs-3">اولویت</strong>
                    <strong class="col-md-3 col-xs-6">نام عکس</strong>
                </div>
                <hr />
                <div id="selectedPicturesList">
                    
                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="Clubs" class="btn btn-default col-md-5 col-xs-6">انصراف</a>
                <input type="submit" value="ویرایش باشگاه" class="btn btn-success col-md-5 col-md-offset-2 col-xs-6" />
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <script type="text/javascript">
            function openBrowseDialog() {
                $('#galleryPictures').trigger('click');
            }

            $(".removeBtn").on("click",function() {
                var parentDiv = $(this).parent();
                parentDiv.remove();
            });


            $("#galleryPictures")
                .on("change",
                    function () {
                        $("#selectedPicturesList").empty();
                        var selectedFiles = $('#galleryPictures').get(0).files;
                        for (var i = 0, numFiles = selectedFiles.length; i < numFiles; i++) {
                            var file = selectedFiles[i];
                            $("#selectedPicturesList")
                                .append('<div class="row" style="margin-bottom:20px;">' +
                                    '<span class="col-md-5 col-xs-12 text-muted field-validation-valid" data-valmsg-for="' + file.name + 'Order" data-valmsg-replace="true"></span>' +
                                    '<input class="col-md-2 col-xs-3" type="checkbox" id="' + file.name + 'IsActive" name="' + file.name + 'IsActive" checked/>' +
                                    '<input class="col-md-2 col-xs-3" type="number" id="' + file.name + 'Order" name="' + file.name + 'Order" data-val="true" min="1" step="1"/>' +
                                    '<label class="col-md-3 col-xs-6">' + file.name + '</label>' +
                                    '</div>');

                        }
                    });

    </script>


    @*<script type="text/javascript">
            $("#Pictures").on("change", function () {

                $("#radioButtons").empty();
                var selectedFiles = $('#Pictures').get(0).files;
                for (var i = 0, numFiles = selectedFiles.length; i < numFiles; i++) {
                    var file = selectedFiles[i];
                    $("#radioButtons").append('<input type="radio" name="DefaultPicture" id="DefaultPicture" value="' + file.name + '"/>' + file.name + '</br>');
                }
                $('#DefaultPicture').attr( "checked", "true" );
            });
        </script>*@

}